body{
	overflow-x: hidden ;
}

.game-cover{
	box-shadow: none;
	transition: 0.4s ease-in-out;
}
.game-cover:hover{
	transform: scale(1.1);
}
/* remove btn effects*/
button:focus{
	outline:none !important;
	box-shadow: none !important;
	
}
button::active{
	outline:none !important;
	box-shadow: none !important;
}
/* btn effects*/
.trash{
	cursor: pointer;
}
.countNum{
	pointer-events: none;
}
/* table col*/
.column{
	font-size: 18px;
	font-style: italic;
	color: black;
}

		